@page "/food"

@using VisualStudioCode.Data
@inject FoodService FoodSvc

<h1>Choose your food</h1>

<p>We have all these delicious recipes:</p>

@code {

  private Food[] todaysFood;

  protected override async Task OnInitializedAsync()
  {
    todaysFood = await FoodSvc.GetFoodAsync();
  }
}